*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 110px;
    background-color: rgb(45, 140, 204);
    background-image: url(../img/pattern.png);
    background-size: 23%;
    background-position: top;
}


.logo{
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.titolo{
    font-size: 70px;
    margin-top: 10px;
}

.scritto-text{
    font-size: 20px ;
    font-weight: 600;
    color: rgb(138, 133, 133);
    display: inline;
}

.thebooleaner-text{
    color:deepskyblue;
    display: inline;
}

.imgA{
    width: 49%;
    height: 600px;
}

.lorem{
    margin-top: 50px;
    font-size: 28px;   
}

.text-background{
    background-color: yellow;
}

ul{
    padding-left: 30px;
}

table{
    border-collapse: collapse;
    margin-top: 40px;
}
td{
    width: 30%;
}
thead{
    color: white;
    background-color: deepskyblue;
}

tr:nth-child(odd) {
    background-color: rgba(0, 191, 255,0.3);
  }

.last-text{
    margin-top: 50px;
}

footer{
    margin-top: 50px;
    font-size: 28px; 
    color: rgb(138, 133, 133);
    font-weight: 600;
}

.box{
    width: 20%;
    height: 300px;
    margin-top: 15px;
    background-size: cover;
    color: white;
}

.imageI{
    background-image: url(../img/monitor.jpg);
}

.imageII{
    background-image: url(../img/graph.jpg);
}

.ext{
    padding-top: 20px;
    padding-left: 20px;
}

